.cardWrapper {
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.newImg {
    margin: 30px 0;
    width: 100%;
    max-width: 700px;
    border: 1px solid black;
}

.newSummary {
    font-size: 18px;
    line-height: 100%;
    max-width: 700px;
}

.publushInfo {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: gray;

    margin-bottom: 10px;
}

/* .publushInfo p,
a {
    font-size: 19px;
    color: red;
    font-weight: 700;
    line-height: 100%;
} */
.publushInfo-newsPage p,
a {
    font-size: 13px;
    color: #1f1f1f;
    font-weight: 700;
    line-height: 100%;
}

.sourceLink {
    margin-left: 10px;
}

.similarNews {
    /* margin-left: 70px; */
    /* width: 800px; */
}

.buttonStore {
    background-color: #555555;
    color: #FFF;
    border: 1px solid #3f3f3f54;
    padding: 5px 0;
    max-width: 220px;
    width: 100%;
    display: inline-block;
    line-height: 100%;
    font-size: 13px;
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
    transition: .4s;
    cursor: pointer;
    margin-left: 15px;
}

.titleHeaderPage {
    max-width: 700px;
    color: #555555;
    font-size: 25px;
    line-height: 100%;

}

.buttonStore:hover {
    background-color: #5d6368;
}

.buttonStore:active {
    background-color: #a8a8a8;
}
