.finderStyle {
  display: flex;
  justify-content: center;
}

.find {
  height: 45px;
  width: 540px;
}

.inputStyle {
  padding: 15px 15px;
  color: #ffffff !important;
  background-color: #b8b2b2;
  border: 1px solid #e9e6ed;
  border-radius: 2px;
  font-size: 15px;
}

.sort {
  padding-top: 20px;
  margin-left: 5px;

  width: 230px;

  font-size: 15px;
  color: gray;

  cursor: pointer;
}

.input {
  width: 600px;
}

.select {
  margin-left: 5px;
  border-radius: 8px;

  width: 150px;

  color: gray;
}

.buttonFind {
  width: 45px;

  margin-left: 5px;

  padding: 15px 11px;
}

.inputFinder {
  display: flex;
}